<ion-header>
    <ion-toolbar>
        <ion-title>Liste</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="main-content">
    <form role="form" [formGroup]="form" novalidate>
        <ion-item class="form-group">
            <ion-label>date debut</ion-label>
            <ion-datetime formControlName="dateFrom" displayFormat="MMM D, YYYY" type="date" useValueAsDate></ion-datetime>
        </ion-item>
        <ion-item class="form-group">
            <ion-label>date fin</ion-label>
            <ion-datetime formControlName="dateTo" displayFormat="MMM D, YYYY" type="date" useValueAsDate></ion-datetime>
        </ion-item>
        <div class="flex">
            <ion-button color="success" shape="round" type="submit" (click)="onSubmit()">
                <ion-icon slot="start" name="send"></ion-icon>
                envoie
            </ion-button>
            <ion-button color="primary" shape="round" type="submit">
                <ion-icon slot="start" name="checkmark-circle"></ion-icon>
                retrait
            </ion-button>
        </div>
    </form>
    <div class="bar bar-header bar-dark">
        <ion-segment ng-model="operations" assertive>
            <ion-segment-button value="Transactions">
                Transactions
            </ion-segment-button>
            <ion-segment-button value="Commissions">
                Commissions
            </ion-segment-button>
        </ion-segment>
    </div>
    <ion-list>
        <ion-item *ngFor="let d of listrans" detail>
            <ion-label>
                <h2>Somme {{d.somme}} fcfa</h2>
                <h3> Date {{d.datetran}} </h3>
            </ion-label>
        </ion-item>
    </ion-list>